@import '../../styles/variables.sass'

.item
  height: auto
  padding: 15px
  border: solid 2px #eee
  box-sizing: border-box
  flex: 1 0 calc(50% - 40px)
  margin-bottom: 40px
  &:nth-child(2n)
    margin-left: 40px
  .info
    padding: 15px
  .picture
    height: 100%
    background: #eee
    cursor: pointer
