@import '../../styles/variables.sass'

.item
  height: auto
  padding: 15px 15px 10px 15px
  background: #fff
  box-sizing: border-box
  display: flex
  flex-direction: column
  margin-bottom: 40px
  box-shadow: 0 0 10px rgba(0, 0, 0, .1)
  flex: 1 0 calc(100%)
  &:nth-child(2n)
    margin-left: 0
  .info
    padding: 10px 0
    color: $blue
  .picture
    flex-basis: 200px
    background:
      image: url('https://unsplash.it/200/300?random')
      repeat: no-repeat
      size: cover

    cursor: pointer
